LICENSE text eol=lf
Makefile text eol=lf
VERSION text eol=lf

Dockerfile.* text eol=lf

.editorconfig text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
.shellcheckrc text eol=lf

*.bash text eol=lf
*.bats text eol=lf
*.md text eol=lf
*.json text eol=lf
*.rb text eol=lf
*.sh text eol=lf
*.tap text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.tar.gz binary

*.sh linguist-language=Shell
*.bash linguist-language=Shell
*.bats linguist-language=Shell

reports/* linguist-generated=true
dist/* linguist-generated=true
