*/**/*

!LICENSE
!Makefile

!.gitignore
!.editorconfig
!.gitkeep

!Dockerfile.*

!*.bash
!*.bats
!*.json
!*.md
!*.rb
!*.sh
!*.tap
!*.txt
!*.yml
!*.yaml

!bin/**/*.*

!*/**/LICENSE
!*/**/Makefile

!*/**/.gitignore
!*/**/.editorconfig
!*/**/.gitkeep

!*/**/Dockerfile.*

!*/**/*.bash
!*/**/*.bats
!*/**/*.json
!*/**/*.md
!*/**/*.rb
!*/**/*.sh
!*/**/*.tap
!*/**/*.txt
!*/**/*.yml
!*/**/*.yaml
